.Separator {
  display: flex;
  align-items: center;
  padding-bottom: 10px;
}

.Separator-box {
  width: 72px;
  height: 10px;
  background: #7abcac;
}
.Separator-line {
  margin: 0;
  padding: 0;
  height: 2px;
  width: 100%;
  background-color: #dcdcdc;
}
