.Badge {
  display: inline-block;
  display: block;
  margin: 10px 0;
  padding: 0 10px;
  border-radius: 11px;
  font-weight: bold;
  font-size: small;
  text-transform: uppercase;
}

.Teal {
  background-color: #7abcac;
}

.Yellow {
  background-color: #d8da79;
}

.Red {
  background-color: #c29486;
}
