.SocialLink {
  position: relative;
  padding-left: 40px;
  line-height: 35px;
}

.SocialLink a {
  text-decoration: none;
  color: #000000;
  font-weight: 500;
}

.SocialLink a:hover {
  color: #7abcac;
}

.SocialLink img {
  position: absolute;
  left: 0;
  height: 30px;
  width: 30px;
}
