@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.Header {
  display: flex;
  justify-content: center;
  width: 1080px;
  height: 250px;
}

.Header-rectangle {
  position: relative;
  background-color: #7abcac;
  width: 100%;
  height: 60px;
}

.Header-box {
  position: absolute;
  width: 586px;
  height: 189px;
  border: 4px solid #000000;
  box-sizing: border-box;
  top: 36px;
}

.Header-name {
  position: absolute;
  width: 359px;
  height: 56px;
  top: 76px;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 56px;

  color: #000000;
}

.Header-title {
  position: absolute;
  width: 248px;
  height: 28px;
  text-align: center;
  color: #fff;
  background: #000000;
  top: 155px;
}

.Main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1000px;
}

.Main-links-box {
  margin: 10px;
  padding: 15px;
  width: 200px;
  flex: 1;
  min-width: 30%;
}

.Links {
  list-style-type: none;
}

.Links li {
  position: relative;
  line-height: 35px;
}

.Links a {
  text-decoration: none;
  color: #000000;
  font-weight: 500;
}

.Links a:hover {
  color: #7abcac;
}

.Links img {
  position: absolute;
  left: -40px;
  height: 30px;
  width: 30px;
}

.Main-about-box {
  margin: 10px;
  padding: 15px;
  flex: 2;
  min-width: 60%;
}

.Main-triple-box {
  margin: 0 10px;
  padding: 15px;
  flex: 1;
  min-width: 25%;
}

.Main-full-box {
  margin: 0 10px;
  padding: 15px;
  width: 100%;
}

h3 {
  text-align: left;
  padding: 5px;
  margin: 0;
}

.Underline {
  display: flex;
  align-items: center;
}

.Underline-box {
  width: 72px;
  height: 10px;
  background: #7abcac;
}
.Underline-line {
  margin: 0;
  padding: 0;
  height: 2px;
  width: 100%;
  background-color: #dcdcdc;
}

.Skill-teal {
  padding: 0 5px;
  background-color: #7abcac;
  border-radius: 11px;
  font-weight: bold;
  font-size: small;
}

.Skill-yellow {
  padding: 0 5px;
  background-color: #d8da79;
  border-radius: 11px;
  font-weight: bold;
  font-size: small;
}

.Skill-red {
  padding: 0 5px;
  background-color: #c29486;
  border-radius: 11px;
  font-weight: bold;
  font-size: small;
}

.Education-school {
  padding: 15px 0;
}

.Education-school p {
  margin: 5px;
  font-size: small;
  font-weight: bold;
}

.Full-box-content {
  display: flex;
}

.Job-title {
  text-align: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}

.Job-title p {
  margin: 0;
}

.Job-description {
  font-size: small;
  font-weight: 300;
  font-size: 16px;
}

.Job-description ul {
  padding-left: 20px;
}

.Vertical-line {
  flex: 1;
  height: 250px;
  margin-top: 25px;
  max-width: 2px;
  background-color: #dcdcdc;
}

.Footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1080px;
  margin-bottom: 30px;
}

.Black-box {
  text-align: center;
  width: 220px;
  color: #fff;
  background: #000000;
  font-weight: 500;
}

.Footer-triple-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 10px 0 10px;
  padding: 15px;
  flex: 1;
  min-width: 25%;
}

.Footer-triple-box p {
  text-align: center;
  margin: 0 10px;
}
